.playerScreen{
    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;

    background-size:cover;
    background-position:center;

    position:relative;

    overflow:hidden;
    transition:background-image 0.5s ease;
}
.playerScreen::before{
    content:"";

    position:absolute;

    inset:0;

    background: rgba(0,0,0,.70);

    backdrop-filter:blur(10px);

    z-index:0;
}

.playerCard{
    background: rgba(28,34,48,.55);

    backdrop-filter: blur(18px);

    -webkit-backdrop-filter: blur(18px);

    border:1px solid rgba(255,255,255,.08);
    width: 380px;
    overflow:hidden;
    padding: 30px;
    border-radius: 20px;
    color:white;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    position:relative;
    z-index:1;
}

.playerCover{
    width:260px;
    height:260px;

    border-radius:50%;

    object-fit:cover;

    border:6px solid rgba(255,255,255,.25);

    margin-bottom:25px;

    box-shadow:0 15px 35px rgba(0,0,0,.35);
}

.songTitle{
    margin:  20px 0 8px;
    font-size: 30px;
    font-weight: bold;
    margin-top:15px
}

.artistName{
    margin-top:8px;
    margin-bottom: 25px;
    color:#bdbdbd;
    font-size:20px;
    font-weight:400;
}

.controls{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;
    margin:25px 0;
}
.playButton{
    width:70px;
    height:70px;

    border:none;
    border-radius:50%;

    background:#1DB954;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:26px;

    cursor:pointer;

    transition:.3s ease;

    box-shadow:0 8px 25px rgba(29,185,84,.45);
}

.playButton:hover{
    transform:scale(1.08);
    background:#1ed760;
}

.sideButton{
    width:45px;
    height:45px;

    border:none;
    border-radius:50%;

    background:transparent;
    color:white;

    font-size:22px;

    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:.3s;
}

.sideButton:hover{
    background:rgba(255,255,255,.12);
    transform:scale(1.1);
}

.sideButton:disabled{
    opacity:0.4;
    cursor:not-allowed;
}

.sideButton:disabled:hover{
    transform:none;
    background:transparent;
}
.progressBar{
    width:100%;
    margin-top:25px;

    -webkit-appearance:none;
    appearance:none;

    height:8px;
    border-radius:10px;

    outline:none;
    cursor:pointer;
}
.progressBar::-webkit-slider-thumb{
    -webkit-appearance:none;

    width:16px;
    height:16px;

    border-radius:50%;
    background:#1DB954;

    margin-top:-5px;

    transition:.2s;
}


.progressBar:hover::-webkit-slider-thumb{
    transform:scale(1.15);
}
.progressBar::-webkit-slider-runnable-track{
    height:6px;
    border-radius:10px;
    background:transparent;
}
.time{
    width:100%;
    display:flex;
    justify-content:space-between;
    color:#d8d8d8;
    margin:15px 0;
    font-size:14px;
}

.volumeContainer{
    width:100%;

    display:flex;
    align-items:center;
    gap:12px;

    margin-top:20px;
}

.volumeSlider{
    flex:1;

    cursor:pointer;

    accent-color:#1DB954;
}

.favoriteContainer{
    width:100%;

    display:flex;
    justify-content:flex-end;

    margin-bottom:15px;
}

.favoriteButton{
    border:none;
    background:transparent;

    color:#1DB954;

    font-size:28px;

    cursor:pointer;

    transition:.25s;
}

.favoriteButton:hover{
    transform:scale(1.15);
}

.rotate{
    animation: spin 10s linear infinite;
}

@keyframes spin{
    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}
